# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files with secrets
migration/aws/credentials/*
migration/azure/azureProfile.json
migration/config/rclone/emsec-google-drive-sa.json
migration/config/rclone/msgdrive.json
