[user]
	name = Josh Madrone
	email = josh@madrone.me
	signingKey = 3FDF427CB02A7EFAB903CC0BB381129334885EE7
[mergetool]
	keepBackup = true
	prompt = false
[credential]
	helper = osxkeychain
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[commit]
	gpgSign = false
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = 
[core]
	editor = code --wait
	excludesfile = /Users/josh/.gitignore_global
[github]
	user = jmadrone
[tag]
	forceSignAnnotated = false
[http]
	postBuffer = 524288000
[pull]
	rebase = true
