[state]
seat = 1ad395fa-c35c-4ce4-9772-c387c50ff794
last_vendor = Baofeng
last_model = UV-82HP
last_port = /dev/cu.usbserial-8320
recent0 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/EmSec 2025-06-18/Baofeng_UV-82HP_20250618.img
window_w = 1512
window_h = 944
window_x = 1091
window_y = 189
last_dir = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/EmSec 2025-06-18
last_open = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/EmSec 2025-06-18/Baofeng_UV-82HP_20250618.img$/Applications/Untitled.csv$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US FRS and GMRS Channels.csv$/Applications/QueryResult$/Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Calling Frequencies.csv
last_update_check = 1743901057
recent1 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US Calling Frequencies.csv
recent2 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/UK Business Radio Simple Light Frequencies.csv
recent3 = /Applications/CHIRP.app/Contents/MacOS/chirp/stock_configs/US FRS and GMRS Channels.csv
recent4 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Volmar Consulting Channels/2025-04-05_Volmar_Consulting_Baofeng_UV-82HP.img
recent5 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Volmar Consulting Channels/2024-03-29_Volmar_Consulting_Baofeng_UV-82HP.img
recent6 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Emerald Security 9-16-24/Baofeng_UV-82_20240916.img
recent7 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Emerald Security 9-16-24/Baofeng_UV-82HP_20240923NEW.img
font_fixed = True
expand_extra = True
agreed_to_license = True
recent_models = Baofeng:UV-82HP;Baofeng:UV-82

[clone_prompts]
experimental_baofeng_uv-82hp = False
pre_download_baofeng_uv-82hp = False
pre_upload_baofeng_uv-82hp = False
experimental_btech_uv-25x2 = True
pre_download_btech_uv-25x2 = True
pre_upload_btech_uv-25x2 = True
experimental_btech_uv-25x2_g2 = True
pre_download_btech_uv-25x2_g2 = True
pre_upload_btech_uv-25x2_g2 = True
pre_download_baofeng_uv-82 = False
pre_upload_baofeng_uv-82 = True

[bandplan]
north_america = True
australia = False
iaru_r1 = False
iaru_r2 = False
iaru_r3 = False

[radioreference]
username = jmadrone
password_encoded = eGtyIXF1YTB3YXgtVk5VNndjdA==
zipcode = 95501

[memedit]
hide_empty = False

[radio_Baofeng_UV-82HP]
last_port = /dev/cu.usbserial-8320

