[state]
seat = 1ad395fa-c35c-4ce4-9772-c387c50ff794
last_vendor = Baofeng
last_model = UV-82HP
last_port = /dev/cu.usbserial-202240
recent0 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Baofeng UV-82HP 2026-06-24/Baofeng_UV-82HP_20260624.img
window_w = 2283
window_h = 982
window_x = 769
window_y = 206
last_dir = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Anytone 5888UV 2025-06-24/Anytone 6-16-26
last_open = 
last_update_check = 1782362673
recent1 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Baofeng Programming Images/Jun 2026 Images/EmSec_Baofeng_UV-82HP_6-16-26.img
recent2 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Baofeng Programming Images/Jun 2026 Images/Baofeng_UV-82_6-16-26.img
recent3 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Anytone 5888UV 2025-06-24/Anytone 6-16-26/AnyTone_5888UV_20250624.img
recent4 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Emerald Security Radio Programming (CHIRP)/Anytone 5888UV 2025-06-24/AnyTone_5888UV_20250624.img
recent5 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Baofeng Programming Images/Jun 2026 Images/EmSec_6-16-26_BTECH_UV-25X2_20231130.img
recent6 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Baofeng Programming Images/Jun 2026 EmSec Imgs/EmSec CHIRP BTECH UVX2 Radio Programming 11-30-23/EmSec_11-30-23_BTECH_UV-25X2_20231130.img
recent7 = /Users/josh/Library/CloudStorage/Dropbox/Ametuer Radio/Baofeng Programming Images/Jun 2026 EmSec Imgs/EmSec UV-82 11-11-23/EmSec_Baofeng_UV-82HP_20231111.img
font_fixed = True
expand_extra = True
agreed_to_license = True
recent_models = Baofeng:UV-82HP;Baofeng:UV-82;Baofeng:5RM;AnyTone:5888UV

[clone_prompts]
experimental_baofeng_uv-82hp = False
pre_download_baofeng_uv-82hp = False
pre_upload_baofeng_uv-82hp = False
experimental_btech_uv-25x2 = True
pre_download_btech_uv-25x2 = True
pre_upload_btech_uv-25x2 = True
experimental_btech_uv-25x2_g2 = True
pre_download_btech_uv-25x2_g2 = True
pre_upload_btech_uv-25x2_g2 = True
pre_download_baofeng_uv-82 = False

[bandplan]
north_america = True
australia = False
iaru_r1 = False
iaru_r2 = False
iaru_r3 = False

[radioreference]
username = josh@madrone.me
password_encoded = eGtyIXF1YTB3YXgtVk5VNndjdA==
zipcode = 95501

[memedit]
hide_empty = False

[radio_Baofeng_UV-82HP]
last_port = /dev/cu.usbserial-202240

[radio_AnyTone_5888UV]
last_port = /dev/cu.usbmodem59090374481

[radio_Baofeng_UV-82]
prompt_experimental = True
last_port = /dev/cu.usbserial-202240
prompt_pre_upload = False

